.dropdown-add-member {
    display: grid;
    justify-content: center;
}

.dropdown-add-member a {
    color: black;
    padding: 5px 8px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
}

.dropdown-add-member a:hover {
    background-color: rgb(204, 233, 228);
}

#seach_add_member {
    background: burlywood;
    border-radius: 6px;
}

#member_group label {
    background: rgb(93, 97, 96);
    text-align: center;
    cursor: pointer;
    color: white;
    opacity: 0.7;
}

#member_group label:hover {
    opacity: 0.9;
}